<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Secret Santa</h1>
    <p>"This is top secret information. Santa Claus is not real. His real name is Nick."</p>
    <form action="/logout" method="post"><input type="submit" value="Logout" /></form>
  </body>
</html>
